/* General Styling */
* {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin: 0.5rem 0rem 0.5rem 0rem;
}
h1 {
    font-size: 3.5rem;
    text-align: center;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
}
h3 {
    font-size: 1.75rem;
}
h3.center{
    text-align: center;
    padding: 5px;
}
h4 {
    font-size: 1.25rem;
}
.material-icons {
    position: relative;
    top: 5px;
}
.icon-colors .material-icons {
    color: #4b2e83;
}
/* Page Spacing */
.container { 
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
p, dl{
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    margin: 0;
    line-height: 1.25;
}
/* The Nav Bar */
nav {
    position: fixed;
    width: 100%;
    background-color: #b7a57a;
    padding: .5rem .5rem 1rem .5rem;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 0 1rem 1rem 0;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: #F0F0F0;
    border-bottom: .8rem solid #85754d;
    transition: .25s ease-out;
}
/* The Header */
header {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background-position: center;
    background-size: cover;
    background-color: #4b2e83;
    background-image: url('../img/rainier.jpeg');
}
/* Images */
.about img {
    border: 50%;
    max-height: 150px;
    max-width: 150px;
    float: up;
    border-radius: 50%;
}
img {
    max-height: 200px;
    max-width: 200px;
}
.supporter {
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* The Table */
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
tbody.about td{
    text-align: center;
    padding: 15px;
}
/* The Footer */
footer {
    width: 100%;
    color: white;
    background-color: #4b2e83;
}
footer a {
    text-decoration: none;
    color: white; 
}